<h1>Edit Site</h1>
 
<%= form_with(model: @site, local: true) do |form| %>
 
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@site.errors.count, "error") %> prohibited
        this site from being saved:
      </h2>
      <ul>
        <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :reference_site %><br>
    <%= form.text_field :reference_site %>
  </p>
 
  <p>
    <%= form.label :nom %><br>
    <%= form.text_area :nom %>
  </p>
  
  <p>
    <%= form.label :address_line1 %><br>
    <%= form.text_field :address_line1 %>
  </p>
 
  <p>
    <%= form.label :zipcode %><br>
    <%= form.text_area :zipcode %>
  </p>

  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', sites_path %>