<p>
  <strong>Référence Site:</strong>
  <%= @site.reference_site %>
</p>
 
<p>
  <strong>Nom:</strong>
  <%= @site.nom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @site.address_line1 %>
</p>

<p>
  <strong>Code Postal:</strong>
  <%= @site.zipcode %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @site.city %>
</p>